//-  assets
- var pathToAssets 		= "assets"
- var yamm 				= false
- var googleFonts 		= "http://fonts.googleapis.com/css?family=Trochut:400,400italic,700"

//- ad more option for language
- var language 			= "en"

- var fBpageLink 			= "https://www.facebook.com/#"
- var instagramLink 		= "https://instagram.com/#/"
- var thumblrLink 			= "http://#.tumblr.com/"
- var pinterestLink 		= "https://it.pinterest.com/#/"
- var twitterLink 			= "https://twitter.com/#"
- var copyRight 			= "Copyright (c) 2015 "

if language == "en"
	include ../config/en.jade



